<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<header>
    <h1>All Tasks</h1>
    <hr>
    <div class="menu-container">
        <div class="burger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <nav id="nav" class="nav">
            <ul>
                <li><a  href="/profile">Profile</a></li>
                <li><a href="/tasks/all">Tasks</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>

<form action="/profile/edit" method="post" enctype="multipart/form-data" th:object="${user}">
    <input type="text" th:field="*{username}" placeholder="Username" required />
    <input type="email" th:field="*{email}" placeholder="Email" required />
    <input type="file" th:field="*{profilePicturePath}" />
    <button type="submit">Update Profile</button>
</form>

</body>
</html>

