<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>All Tasks</h1>
    <hr>
    <div class="menu-container">
        <div class="burger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <nav id="nav" class="nav">
            <ul>
                <li><a  href="/profile">Profile</a></li>
                <li><a href="/tasks/all">Tasks</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>

<div class="profile-container">
    <h2>Profile Information</h2>
    <p th:text="${user.username}">Username: </p>
    <p th:text="${user.email}">Email: </p>
    <p>Profile image: </p>>
    <img th:src="@{${user.profilePicturePath}}" alt="Profile Picture" width=""/>
    <br>
    <a href="/profile/edit">Edit</a>
</div>
</body>
</html>
